.checkbox-input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.checkbox-input + label {
  line-height: 2em;
}

.checkbox-input + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background-color: var(---dark-grey);
  border-width: 2px;
  border-style: solid;
  border-color: var(---grey);
  border-radius: 30px;
  box-shadow: none;
  cursor: pointer;
}

.checkbox-input:checked + label::before {
  background-color: var(---light);
}
