.single-line {
  white-space: nowrap;
  margin: auto;
  height: 100%;
  margin-right: 6px;
}

.triple-input > .grow > .padded {
  padding: unset;
}

.triple-input > .grow > .padded > label {
  font-size: 0.9em;
}

.triple-input > .grow > .padded > label > input {
  max-width: 50px;
  font-size: 1em;
  margin: 0 6px;
}
